<h1> CheapToad Notices (errors) for Project <%= @api_key %> </h1>

<h2> Your errors: </h2>

<table>
  <th> <td> Error message </td> <td> Count </td>
  </th>

  <% (@notices || []).each do |n| %>
    <tr>
      <td><%= link_to(n.error_message, :action => 'show', :id => n.id) %></td>
      <td><%= n.count %></td>
    </tr>
  <% end %>
</ul>
